# Python
__pycache__/
*.py[cod]
*.egg-info/
.Python
build/
dist/

# Virtual env
.venv/
venv/
env/

# Django
*.log
db.sqlite3
/staticfiles/
/media/

# Environment
.env

# IDE / OS
.idea/
.vscode/
.DS_Store
